{% assign block_types = "default" %}
{% assign page_type_name = "Default" %}

<div class="container mx-auto">
  <form id="main-form" action="/admin/pages/{{ item.id }}?language={{ language |  default: "en" }}" method="post">
    <div class="flex flex-row">
      <div class="w-9/12 px-4">
        <div class="mb-4">
          {% render "page/edit/language", language: language, autosave: autosave %}
        </div>

        <div>
          <!-- values --->
{%- liquid
for field in fields
  assign selector = "." | append : field
  assign input_type = inputs[field] | default: "text"
  assign input_type = input_type | append : "/basic"
  render 'page/edit/field-row', type: input_type, label: field, selector: selector, value: tokens[field], placeholder: placeholder[field]
endfor
-%}

          <hr/>
          <!-- items -->
          {% for item in items %}
          <div>
{%- liquid
assign item_name = item.name
assign item_label = item.name | capitalize
assign default_items = " " |  split: ","
assign page_items = tokens[item_name] | default: default_items
assign page_items = page_items | sort : "_weight"
-%}
            <div class="row mb-3 align-items-center"><div class="col-8"><h5><i class="far fa-copy me-2"></i>{{ item_label }}</h5></div><div class="col-4 text-end"></div></div>

            {% for page_item in page_items %}
              {% capture prefix %}.{{ item_name }}[{{ forloop.index0 }}]{% endcapture %}
              <div class="flex flex-row mb-3">
                {% render "page/edit/item/weight", prefix: prefix, weight: page_item._weight %}
                <div class="me-4 w-full">
                  {%- liquid
                    for attribute in item.attributes
                      assign selector = prefix | append: "@" | append : attribute
                      assign input_type = inputs[attribute] | default: "text"
                      assign input_type = input_type | append : "/basic"
                      render 'page/edit/field-row', type: input_type, label: attribute, selector: selector, value: page_item[attribute], placeholder: placeholder[attribute]
                    endfor

                    for field in item.fields
                      assign selector = prefix | append: "." | append : field
                      assign input_type = inputs[field] | default: "text"
                      assign input_type = input_type | append : "/basic"
                      render 'page/edit/field-row', type: input_type, label: field, selector: selector, value: page_item[field], placeholder: placeholder[field]
                    endfor
                  -%}
                </div>
                {% render "page/edit/item/add-button", index: forloop.index0, page_id:item.id, item_name: item_name %}
              </div>
            {% endfor %}
          </div>
          {% endfor %}
          <!-- end items -->

          <hr/>
          {% render "page/edit/block/container", page_id: item.id, placeholder: placeholders.blocks, block_names: block_names, blocks: blocks, limits: block_types %}
        </div>
      </div>

      <div class="w-3/12">
        <div id="page-attributes" class="rounded border border-gray-200 bg-gray-100 px-4 p-4 mb-4">
          {%- liquid
            for attribute in attributes
              assign selector = "@" | append : attribute
              assign input_type = inputs[attribute] | default: "text"
              assign input_type = input_type | append : "/basic"
              render 'page/edit/field-row', type: input_type, label: attribute, selector: selector, value: tokens[attribute], placeholder: placeholder[attribute]
            endfor
          -%}
        </div>

        <div id="page-tags" class="rounded border border-gray-200 bg-gray-100 px-4 p-4">
          {% render "page/edit/tag/input", page_id: item.id, label: "Categories", tag_group:"Categories", tag_options: tags.categories, tags: item.tags.categories %}
          {% render "page/edit/tag/input", page_id: item.id, label: "Topics", tag_group:"Topics", tag_options: tags.topics, tags: item.tags.topics %}
          {% render "page/edit/tag/input", page_id: item.id, label: "Collections", tag_group:"Collections", tag_options: tags.collections, tags: item.tags.collections %}
        </div>
      </div>
    </div>
  </form>
</div>
